body {
    background-color: rgb(0, 255, 106);
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(236, 52, 83), rgb(197, 12, 135));
    margin-bottom: 20px;
}

header>div>h1, header>div {
   display: flex;
   align-items: center;
   margin-left: 20px;
   margin-right: 20px;
}

header>div>h1 {
    font-family: "Roboto Mono", monospace;
}

header>div>h1, header>div>h3>a {
    color: greenyellow;
    margin: 10px 0 10px 0;
}

#logo {
    width: 40px;
    height: 40px;
}

#linksHeader {
    display: flex;
    gap: 20px;
}

#linksHeader>h3>a {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 300;
}

#linksHeader>h3>a:hover {
    color: rgb(42, 42, 193);
}

main {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

#mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#funnyImages {
    border-top: 4px solid orangered;
    border-bottom: 4px solid orangered;
    width: 10rem;
    height:100%;
}

.mainsParagraph {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 4px solid blueviolet;
    width: 60%;
}

.mainsParagraph>h2 {
    font-family: "Roboto";
    margin-bottom: 5px;
}

.mainsParagraph>p {
    font-family: "Lexend Deca", sans-serif;
    font-size: 16px;
    font-weight: 350;
    margin-top: 0;
    padding: 10px;
}

#midText {
    margin: 10px 0 10px 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(#fff200, rgb(240, 23, 23));
    padding: 8px 20px 8px 20px;
    margin: 20px 0 0 0;
}

footer>div>h3, #informs>h5 {
    margin: 0;
}

footer>div>h3 {
    padding: 8px 0 8px 0;
    font-family: "Lexend Deca";
}

#informs>h5 {
    padding-bottom: 6px;
    font-family: "Lexend Deca", sans-serif;
}

#aboutUs {
    width: 35%;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 300;
    text-align: right;
}